name: Deploy Nodejs application

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy with Docker Compose
        run: |
          cd /home/phoenix/projects/nodejs-git-actions
          git pull origin main
          docker compose down
          docker compose up -d --build
